*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: silver;
}

.bg-red{
    color: red;
}

.bg-green{
    color: green;
}

#head{
    text-align: center;
    background-color: black;
    color: #fff;
    border: 5px dashed #fff ;
    font-size: 3rem;
    padding: 30px;
    margin-bottom: 30px;
}

.all-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 30px 0px;
}

.alone-card{
    border: 3px solid black;
    text-align: center;
    padding: 20px;
    margin: 5px;
    width: 45%;
}

@media (max-width: 780px) {
    .alone-card{
        width: 100%;
    }
}

.result-card{
    display: flex;
    flex-wrap: nowrap;
    padding: 15px;
    gap: 50px;
    align-items: center;
    background-color:rgb(202, 209, 215);
    box-shadow: 4px 4px 12px #000;
    border-radius: 10px;
}

@media (max-width: 780px) {
    .result-card{
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
}

.seeMore{
    margin: 15px 0px;
    width: 100%;
    padding: 10px 0px;
    border: 2px dotted white;
    background-color: #121212;
    color: #fff;
    cursor: pointer;
    transition: .4s;
}

.order-btn{
    background-color: rgb(100, 82, 206);
    margin: 5px 20px 20px 0px;
    border: 2px dotted black;
    border-radius: 10px;
    padding: 13px;
    font-size: 1.1rem;
    cursor: pointer;
}

.anchor{
    text-align: center;
    margin: 3% 0px;
    margin-bottom: 30px;
}

a{
    color: black;
    border-bottom: 2px solid white;
    font-size: 2.5rem;
}

#b-bottom{
    border-bottom: 2px solid white;
    margin: 10px 0px;
}

.space{
    padding: 5px 0px;
}
