 body{
    background-color:darkgrey;
}

.bg-red{
    color: red;
}
.bg-green{
    color: green;
}

#head{
    text-align: center;
    background-color: black;
    color: #fff;
    border: 5px dashed #fff ;
    font-size: 3rem;
    padding: 30px;
    
}

.all-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.alone-card{
    
    border: 3px solid black;
    text-align: center;
    padding: 20px;
    margin: 5px;
    width: 40%;
    
}

.result-card{

    display: flex;
    gap: 50px;
    align-items: center;
    background-color:rgb(160, 179, 194);
    box-shadow: 4px 4px 12px #000;
    border-radius: 10px;    
    
}

.seeMore{
    margin: 15px 0px;
    width: 100%;
    padding: 10px 0px;
    border: 2px dotted white;
    background-color: #121212;
    color: #fff;
    cursor: pointer;
    transition: .4s;
}

.order-btn{

    background-color: rgb(62, 28, 255);
    margin: 5px 20px 20px 0px;
    border: 2px dotted black;
    border-radius: 10px;
    padding: 13px;
    font-size: 1.1rem;
    cursor: pointer;

}

.anchor{
    text-align: center;
    margin: 3% 0px;
}

a{
    color: black;
    border-bottom: 2px solid white;
    font-size: 2.5rem;
}

#b-bottom{
    border-bottom: 2px solid white;
}

